<article class="show-course-assignment">
  <div class='card-tier'>
    <div class="card">
      <div class='card-header'>
        <h2>Pending Assignments</h2>
      </div>
      <div class='panel-container'>
        <% CourseAssignment.pending.where(course_id: @course.id).each do |assignment| %>
        <div class='card-content'>
          <h2>Assignment: <%= assignment.assignment.name %></h2>
          <h3>Course: <%= assignment.course.name %></h3>
          <h3>
            <% if assignment.due_date > Time.now %>
              <p>Due in <%= distance_of_time_in_words(Time.now, assignment.due_date) %> </p>
            <% else %>
              <p>Due <%= assignment.due_date %> ago</p>
            <% end %>
          </h3>
          <div class='button'>
            <%= link_to 'View details...', course_course_assignment_path(assignment.course, assignment) %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <div class="card">
      <div class='card-header'>
        <h2>Upcoming Assignments</h2>
      </div>
      <div class='panel-container'>
        <% CourseAssignment.upcoming.where(course_id: @course.id)&.each do |assignment| %>
        <div class='card-content'>
          <h2>Assignment: <%= assignment.assignment.name %></h2>
          <h3>Course: <%= assignment.course.name %></h3>
          <h3>
            <% if assignment.due_date > Time.now %>
              <p>Due in <%= distance_of_time_in_words(Time.now, assignment.due_date) %> </p>
            <% else %>
              <p>Due <%= assignment.due_date %> ago</p>
            <% end %>
          </h3>
          <div class='button'>
            <%= link_to 'View details...', course_course_assignment_path(assignment.course, assignment) %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='card-tier'>
    <div class="card">
      <div class='card-header'>
        <h2>Past Assignments</h2>
      </div>
      <% CourseAssignment.past.where(course_id: @course.id).each do |assignment| %>
      <div class='card-content'>
        <h2>Assignment: <%= assignment.assignment.name %></h2>
        <h3>Course: <%= assignment.course.name %></h3>
        <h3>
          <% if assignment.due_date > Time.now %>
            <p>Due in <%= distance_of_time_in_words(Time.now, assignment.due_date) %> </p>
          <% else %>
            <p>Due <%= assignment.due_date %> ago</p>
          <% end %>
        </h3>
        <div class='button'>
          <%= link_to 'View details...', course_course_assignment_path(assignment.course, assignment) %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</article>