<article class="show-course-assignment">
    <div class="pending-assignments">
        <h1>Pending Assignments</h1>
        <%= @course_assignments.pending.map do |assignment| %>
            <%= render 'assignment_card' %>
        <% end %>
    </div>

    <div class="upcoming-assignments">
        <h1>Upcoming Assignments</h1>
        <%= @course_assignments.upcoming.map do |assignment| %>
            <%= render 'assignment_card' %>
        <% end %>
    </div>

    <div class="past-assignments">
        <h1>Past Assignments</h1>
        <%= @course_assignments.past.map do |assignment| %>
            <%= render 'assignment_card' %>
        <% end %>
    </div>
</article>