<div class="assignments">
    <h2>Pending Assignments</h2>
    <% @assignments[0..5].each do |assignment| %>
        <div class="assignment-card" onClick="() => {window.location.href = '/course_assignments/<%= assignment.id %>'}">
            <h3>Assignment Name: <%= assignment.assignment.name %></h3>
            <h3><%= link_to assignment.assignment.name, course_course_assignment_path(assignment.course, assignment) %></h3>
            <h3>Course Name: <%= assignment.course.name %></h3>
            <h3>
                <% if assignment.due_date > Time.now %>
                    <p>Due in <%= assignment.due_date %> </p>
                <hr/>
                <% else %>
                    <p>Due <%= assignment.due_date %> ago</p>
                <% end %>
            </h3>
        </div>
    <% end %>

</div>