<h3>All Courses</h3>

<% @courses.each do |course| %>
  <div>
    <%= link_to course.name, course_path(course) %>
    <p><%= course.description %><p>
    <p><%= course.status %></p>
    <p><%= course.course_type %></p>
    <p><%= course.start_date %></p>
    <p><%= course.end_date %><p>
  <div>
<% end %>