
    <p><%=@course.name%></p>
    <p>Course Type:<%=@course.type%></p>
    <p>Start Date:<%=@course.start_date%></p>
    <p>End Date:<%=@course.end_date%></p>
    <p>Course Status:<%=@course.status%></p>
    <p>
    Instructors:
    <%=@course.instructors.each do |instructors|%></p>
    <li><%= instructors%></li>
    <%end%%>
    <p class="description">
    <p><%=@course.description%></p>
    </p>
  <%if admin_signed_in?%>
    <%= link_to 'Edit', edit_course_path(@course) %>
    <%= link_to 'Delete', course_path(@course), method: :delete, data: {confirm: "Are you sure?"} %>

    <%@assignments[0..2].each do |assignment|%>
    <li>
    <p>
      <%=assignment.name%></br>
      <%= link_to(
        assignment.name, course_assignment_path(@course, assignment)
      )%>
    </p>
     </li>
   <%end%>
   <%=link_to "View More", course_course_assignments_path(@course)%>

<div>
  <% @users.each do |user| %>
    <div>
        <%= user.first_name %><br/>
        <%= user.email %><br/>
        <%= link_to user.first_name, user_path(user)%>
    </div>
    <%end%>
  </div>

<div>
  <% @.each do |user| %>
    <div>
        <%= user.first_name %><br/>
        <%= user.email %><br/>
        <%= link_to user.first_name, user_path(user)%>
    </div>
    <%end%>
  </div>



<%end%>



