<div class='card-tier'>
  <div class='card'>
    <div class='card-header'>
      <h2>Course Assignments</h2>
    </div>
    <% @course_assignments[0..2].each do |course_assignment| %>
    <div class='card-content'>
      <h3>
        <%= link_to(course_assignment.assignment.name, course_course_assignment_submissions_path(@course, course_assignment)) %>
      </h3>
    </div>
    <% end %>
    <div class='button'>
      <%= link_to "View More", course_course_assignments_path(@course) %>
    </div>
  </div>
  <div class='card'>
    <div class='card-header'>
      <h2><%= @course.name %></h2>
    </div>
    <div class='card-content'>
      <p>Course Type:  <%= @course.program.name %></p>
      <p>Description  <%= @course.description %></p>
      <p>Began:  <%= @course.start_date %></p>
      <p>Ends:  <%= @course.end_date %></p>
      <p>Course Status:  <%= @course.status %></p>
      <p>Instructors:  <% @course.instructors.each do |instructor| %></p>
      <li><%= instructor.full_name%></li>
      <% end %>
      <% if admin_signed_in? %>
      <div class='button'>
        <%= link_to 'Edit', edit_course_path(@course) %>
        <%= link_to 'Delete', course_path(@course), method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class='card-tier'>
  <div class='card'>
    <div class='card-header'>
      <h2>Instructors</h2>
    </div>
      <% @instructors.each do |user| %>
    <div class='card-content'>
        <p>Email: <%= user.email %><br/></p>
        <h3><%= link_to user.full_name, user_path(user)%></h3>
    </div>
    <% end %>
  </div>
  <div class='card'>
    <div class='card-header'>
      <h2>Markers</h2>
    </div>
    <div class='panel-container'>
      <% @markers.each do |user| %>
      <div class='card-content'>
        <p>Email: <%= user.email %><br/></p>
        <h3><%= link_to user.full_name, user_path(user)%></h3>
      </div>
      <% end %>
    </div>
  </div>
  <div class='card'>
    <div class='card-header'>
      <h2>Enrolled</h2>
    </div>
    <div class='panel-container'>
      <% @enrolled.each do |user| %>
      <div class='card-content'>
        <p>Email: <%= user.email %><br/></p>
        <h3><%= link_to user.full_name, user_path(user)%></h3>
      </div>
      <% end %>
    </div>
  </div>
</div>