<!DOCTYPE html>
<html>

<head>
  <title>S-cool</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet">
</head>

<body>
  <nav>
    <header class='navbar navbar-fixed-top navbar-inverse'>
      <div class='ui stackable menu'>
        <%#if you click the logo, it directs to the homepage%>
        <div class='item'>
          <%= link_to image_tag('logo.png', alt: 'logo', style: "width:50px"),
        '/' %>
        </div>
        <%# we need to create if user signed in  %>
        <%# if user_signed_in?  hello #{current.user.name} thing later%>
        <div class="container">
        <div class='item'>
            <h3>My Dash Board</h3>
          </div>
          </div>
        <div class='right menu'>
          <div class='item'>
          <%# if user_signed_in? %>
          <span>Hi, <%#=link_to "#{current_user.name}", edit_user_path(current_user)%>!
          </span>
          |
          <%#= link_to 'Sign Out', '', method: :delete %>
          <%# else %>
          <%#= link_to 'Sign In', '' %>
          |
          <%# end %>
          </div>
        </div>

        <div class='item'><%= link_to image_tag('profile_pic.png', alt: 'profile',style: "width:50px"),
          '/courses'%>
        </div>
      </div>
    </header>
    <div class='container'>

    </div>
</body>
<%= yield %>
</html>

